@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
body{
    font-family: "Sora";
    background-color: #f6f6f6;
}

.cadastro-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.identicacao-page-cadastro{
    display: flex;
    align-items: center;
    gap: 25px;
}

.title-cadastro-usuario, .divisa-title-cadastro-usuario{
    color: #13510e;
    font-weight: bold;
    font-size: 35px;
}

.logotipo-cadastro-usuario{
    width: 50px;
    height: auto;
}

.form-with-background-cadastro{
    padding: 25px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 60%;
}

.circle-form > img{
    width: 60px;
    height: auto;
}
.dois-inputs{
display: flex;
align-items: flex-start;
gap: 25px;
}

.input-cadastro-usuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}
.input-cadastro-usuario > label {
    font-size: 15px;
    font-weight: 300;
    color: #333333;
}
.input-cadastro-usuario > input {
    background-color: #ffffff00;
    border: 0.1px solid #666666;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
}

.observacao-cadastro-estudante{
    font-size: 12px;
    margin-top: -2px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#button-cadastrar-usuario {
    color: #ffffff;
    background-color: #13510e;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    text-align: center;
}

.login-usuario > a, .login-usuario {
    font-size: 12px;
    color: #666666;
}
.login-usuario > a {
    text-decoration: underline;
    font-weight: bold;
}

