@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
*{
    font-family: 'Poppins';
}
.login-usuario {
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    background-color: #ffffff;
}

#bola-login {
    width: auto;
    height: 90vh;
}

.login-convidativo {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-convidativo > img {
    width: 100px;
    height: auto;
}
.title-login {
    color: #13510e;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    text-align: center;
}
.form-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-with-background {
    width: auto;
    height: auto;
    padding: 20px 35px;
    background: rgba(255, 182, 103, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}
.input-login > label {
    font-size: 15px;
    color: #333333;
}
.input-login > input {
    background-color: #ffffff00;
    border: 0.1px solid #666666;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#button-entrar-login {
    color: #ffffff;
    background-color: #fc8301;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    text-align: center;
}

.recuperacao-senha-usuario {
    font-size: 12px;
    color: #666666;
    text-align: center;
}
.cadastro-usuario {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.cadastro-usuario > #mensagem-cadastro,
.cadastro-usuario > .link-cadastro-usuario {
    font-size: 12px;
    color: #666666;
}
.cadastro-usuario > .link-cadastro-usuario {
    text-decoration: underline;
    font-weight: bold;
}

.link-acesso-adm {
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    text-decoration: underline;
}
div#mensagem{
    padding: 15px 0;
    font-family: MuseoSans;
    color: #fff;
    background: #ffc36b;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}

div#mensagem.red{
    background: #F90055;
}